:root{
    --rosa-palo-Principal: #E2B6B7;
    --BLANCO-azul: #FAFDFF;
    --contraste-café: #633334;
    --azul-Principal: #4B86B9;
    --BLANCO-rosa: #EDE0E0;
    --verde-Ada: #38ADA9;
    --rosa-Blanco: #FFFCFC;
    --verde-Blanco: #FBFFFF;
}